<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="APO_PEDD.Properties.Settings.conexion" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\APO.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="APO_PEDD.Properties.Settings.sqliteConexion" connectionString="Data Source=APO-PEDD.db" />
    </connectionStrings>
</configuration>